@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Couleur de secours */
    background-image: url('../content/img/1.jpg'); /* Image initiale */
    background-position: center center;
    background-size: cover;
    filter: blur(10px);
    transition: background-image 1s ease-in-out, filter 1s ease-in-out;
    z-index: -1;
}

body.loaded #background {
    filter: blur(0);
}

#loader {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

#loader span {
    width: 15px;
    height: 80px;
    background: white;
    margin: 0px 1px;
    animation: action 950ms ease-in-out infinite;
}

footer {
    min-height: 5px;
    height: 60px;
    min-width: 20%;
    width: 30%;
    background: rgba(0, 0, 0, 0.30);
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 0px 20px 3px #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin-left: 35%;
    margin-right: 35%;
}

.icon {
    margin-top: 7px;
    margin-left: 7px;
    height: 31px;
    margin-right: 10px;
}

.flexboxmus li {
    list-style: none;
    display: flex;
    align-items: center;
}

.textmusique {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    padding-top: 5px;
    color: white;
}

@keyframes action {
    0%, 60%, 100% {
        transform: scaleY(0.05);
    }
    35% {
        transform: scaleY(1);
    }
}

#loader span:nth-child(1) {
    animation-delay: -700ms;
}

#loader span:nth-child(2) {
    animation-delay: -600ms;
}

#loader span:nth-child(3) {
    animation-delay: -500ms;
}

#loader span:nth-child(4) {
    animation-delay: -400ms;
}

#loader span:nth-child(5) {
    animation-delay: -300ms;
}

#loader span:nth-child(6) {
    animation-delay: -200ms;
}
