@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

/* Reset */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Backgound Blur + transition */
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url('../content/img/1.jpg');
    background-position: center center;
    background-size: cover;
    filter: blur(10px);
    transition: background-image 1s ease-in-out, filter 1s ease-in-out;
    z-index: -1;
}

body.loaded #background {
    filter: blur(0);
}

/* LOADER – désactivé */
#loader,
#loader span {
    display: none !important;
}

/* FOOTER – désactivé */
footer {
    display: none !important;
}

/* ANIMATION KEYFRAMES – inutiles mais laissées si besoin futur */
@keyframes action {
    0%, 60%, 100% {
        transform: scaleY(0.05);
    }
    35% {
        transform: scaleY(1);
    }
}
